body {
  font-family: 'Lato', sans-serif;
  position: relative;
  padding: 0px;
  margin: 0px;
}
.img-responsive{
  padding: 0px;
  height: 100px;
  width: 150px;
}
.starter-template {
  padding: 3rem 1.5rem;
  text-align: center;
}
.bg-dar{
  background-color: #18191b;
}
.navbar{
  background-color: #18191b;
  padding: 0px;
  margin-top: 0px;
  padding: 0px;
}
.navbar-toggler-icon{
  color: #fff;
}
.navbar-dark .navbar-nav .nav-link {
    padding: 10px 0px;
    font-size: 16px;
    text-align: center;
    color: #fff;
    width: 60px;
    height: 40px;
}
.navbar-dark .navbar-nav .nav-link:hover{
    border-bottom: 2px solid white;
    color: #fff;
}
.active{
  border-bottom: 2px solid white;
  color: #fff;
}


/* carousel */
.carousel {
  margin-top: 100px;
}
.carousel-caption {
    border-radius: 5px;
    background: rgba(0, 0, 0, 0.7);
    position: absolute;
    right: 15%;
    bottom: 20px;
    left: 15%;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20%;
    color: #fff;
    text-align: center;
}

.carousel-caption h5{
    color: #ffffff;
    font-size: 42px;

    font-family: 'Lato', sans-serif;
    text-transform: capitalize;
}
.carousel-caption p {
    margin-top: 0;
    padding-left: 10px;
    margin-right: 10px;
    font-weight: bold;
    font-size: 24px;
    color: #6495ED;
}
.rounded-circle{
  width:200px;
  height:200px;
}
@media screen and (max-width:768px) {
  .rounded-circle{
    width:150px;
    height:150px;
  }
}
.container h1 {
  text-transform: capitalize;
}
.btn-info{
  background-color: #6495ED;
  border: 2px solid transparent;
}
a.btn-info:hover{
  color: #6495ED;
  background-color: transparent;
  border: 2px solid #6495ED;
}
.btn-info:hover{
  color: #6495ED;
  background-color: transparent;
  border: 2px solid #6495ED;
}
.btn.btn-info:not(:disabled):not(.disabled):active{
  color: #6495ED;
  background-color: transparent;
  border: 2px solid #6495ED;
}
.btn{
  padding: .4rem 2rem;
}
/* specials */
.specials{
  background-color:  #18191b;
  padding: 30px;
}
.specials h3 {
  padding-left: 5px;
  color: #fff;
  font-size: 25px;
}
.specials .btn{
  width: auto;
}
/* staff */
#staff{
  padding-top: 30px;
}
/* video vodkabears */
#videojs{
  margin:50px 0px 0px 0px;
  background: rgba(0, 0, 0, 0.7);
}
#videojs p{
  text-transform: capitalize;
}
.winebear{
  padding-top: 170px;
}
#wineid{

}
/* menu */
.bg-men{
  background-color:#6495ED;
}
.card-img-top {
    height: 250px;
}
.card{
  box-shadow:2px 3px 15px #777;
}
.solo{
      padding-bottom: 25px;
}
.card-title{
  text-transform:;
  font-weight: bold;
}
.card-text{
  margin-top: 30px;
  height: 180px;
}
/* card  */
hr{
    display: block;
    height: 0.5px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

.card-body{
  text-align: center;
}
.modal-content{
  background: #18191b;
}
.modal-content > h4 {
  color: #fff;
  margin: 0px;
  padding-top: 5px;
}
.modal-content > h2 {
  color: #fff;
  padding: 5px;
}
.modal-content p{
  color:#fff;
}

/* Parallax */
.wtitle>h2{
  font-size: 26px;
  padding: 20px;
  color: #fff;
  font-weight:bold;
  /* line-height: 1.6; */
  border-radius: 5px;
  background: rgba(0, 0, 0, 0.7);
}

#plx{
  background: url(../img/winebacklrg.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.wtitle{
  padding: 150px 20px;
}
/* wines */
#wines{
  padding:30px 0px;
}
.table>tbody>tr>td>p{
  font-size: 12px;
}
/* jumbotron */
.jumbotron{
  background-color: #d2d2d2;
}
.jumbotron>hr{
    display: block;
    height: 0.5px;
    border: 0;
    border-top: 1px solid #968f8f;
    margin: 1em 0;
    padding: 0;
}
/* cards */
.card-text {
    margin-top: 10px;
    height: 100px;
}
/* overlay */
.card-img{
  height:229px;

}
.card-img-overlay{
  opacity: 0;
  transition: 0.5s;

}
.card-img-overlay:hover{
  opacity: 1;
  background: rgba(0, 0, 0, 0.7);
}
/* location */
#location{
  background: url(../img/collapse_city/img-world-map.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.loc img{
  transition-duration: 1.5s;
}
.loc img:hover{

  transform: scale(3);
  box-shadow: 5px 5px 15px #333;
  z-index: 10;
}
iframe{
  padding-top: 20px;
}
/* testimonials */
#testimonials{
  color: white;
  background-color: #18191b;
}

#testimonials .carousel-inner{
  padding: 50px 0px 30px 0px;

}
.carousel-item{
  min-height: 250px;
}
#testimonials .rounded-circle {
    width: 100px;
    height: 100px;
}
.active{
  border: none;
}
/* vid */
#vid{
      padding: 50px 0px 50px 0px;
}
#vidp{
  margin-top: 10px;
  text-align: left;
  font-size: 14px;
}
/* hire */
#hire h3{
  text-shadow: 5px 5px 10px #888888;
}
#hire .jumbotron{
      padding: 20px;
}

/* pop-up box*/
.pop-box{
  width: 300px;
  box-shadow: 5px 10px 25px #555;
  z-index: 999;
  position: fixed;
  right: -300px;
  top: 130px;
  transition: 1s ;
}
.pop-box:hover{
  right:-10px;
}
.card-heading{
  border-radius:5px;
  margin-top: -3px;
  margin-left: -60px;
  color: white;
  height: 50px;
  background-color: #6495ED;
}
#hat{
  float: left;
  margin: 5px 0px 5px 10px;
}
#cardtt{
  float: left;
  margin-top: 8px;
  margin-left: 80px;
}
.cleare{
  clear: both;
}
/* counter */
#numcon{

  margin-top: 50px;
  /* margin-bottom: 50px; */
}
.numc{
  margin-bottom: 5px;
  font-size: 25px;
  padding-right: 3px;
  padding-top: 35px;
  border-radius: 50%;
  height: 100px;
  width: 100px;
  color: #fff;
  background-color: #6495ED;
}
/* contact */
#Contact{
  margin: 25px 0px;

}
#Contact label{
  font-size: 20px;
}
/* location big */
.map{
  box-shadow: 5px 10px 25px #555;
}
.map iframe{
  border: none;
  margin:none;
}
/* footer */
#footer{
  background-color: #18191b;
}
.cpt{
  padding-top: 39px;
}
.fontsfooter{
  font-size: 40px;
  padding-top: 20px;

}
#footer a{
  color: white;
}
#footer a:hover{
  color: #6495ED;
}
/* back to top btt */
.btt{
  display: none;
  opacity: 0.75;
  box-shadow: 5px 10px 25px #555;
  border:1px solid #E8E8E8;
  height: 38px;
  width: 100px;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  background-color: #fff;
  z-index: 998;
  font-size: 55px;
  color: #6495ED;
  position: fixed;
  bottom: 40px;
  right: -49px;
}
.btt:hover{
  opacity: 1;
}
.arrow{
  position: fixed;
  bottom: 31px;
  right: 8px;
}
.arrow a{
  color: #6495ED;
}
.arrow a:hover{

  color: #4d83ff;
}
.hide {
  opacity: 0;
  }
.show {
  opacity: 0.75;
  display: block;
}
